name: Node Package Publish to GitHub Pages

on:
  push:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - uses: actions/checkout@v4

      # Setup Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      # Install dependencies inside the subfolder
      - name: Install dependencies
        run: npm ci
        working-directory: ./web image processor

      # Build the React app inside the subfolder
      - name: Build React app
        run: npm run build
        working-directory: ./web image processor

      # Deploy the build folder to GitHub Pages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./web image processor/build
